.card {
  display: flex;
  align-items: center;
  margin: 10px;
  border: 1px solid rgb(77, 69, 69);
  border-radius: 10px;
  box-shadow: 25px 25px 75px 0px rgba(249, 246, 246, 0.2);
  padding: 10px;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardInfo {
  display: flex;
  align-items: center;
}

.cardCrossOut {
  text-decoration: line-through;
  color: red;
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.updateButton,
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px; /* Lägger till avstånd mellan knapparna */
}


.cardName {
  grid-column: 2;
  margin-right: 10px; 
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.checkboxContainer {
  margin-right: 10px;
  width: 20px; 
  height: 20px;
  display: flex;
}

.editInput {
  width: 80%;
}
.editButton,
.updateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.editButton img,
.updateButton img {
  width: 25px;
  height: 20px;
}
.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.deleteButton img {
  width: 20px; 
  height: auto; 
}