body {
  background: linear-gradient(to left, rgba(222, 184, 135,1) 0%,  rgba(222, 184, 135,1) 100%);
  margin: 50px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.columnItem1 {
  display: flex;
  flex-direction: column;
  align-items: end;
}